<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <style>
        .deleteButton {
            margin-left: 20px;
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

   <h1>todos</h1> 
   <ul>
       <% if(todos1) { %>
        <% todos1.todos.forEach(function(t){ %>
            <li>
                <%= t.todo %><button class="deleteButton" onclick="deleteTodo('<%= t.todo %>')">delete </button>
            </li>
          <% }); %>
       <% } %>
       <% if(!todos1) { %>
            <h1>No todos</h1>
        <% } %>
   </ul>
    <form action="/todos/add" method="POST">
        <input type="text" name="todo" id="">
        <input type="submit" value="dodaj">

    </form>
    <a href="/logout">logout</a>
    <script src="javascripts/deleteTodo.js"></script>
</body>
</html>